@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 89.9);
  --foreground: oklch(0.1574 0.018 202.2);
  --card: oklch(1 0 89.9);
  --card-foreground: oklch(0.1574 0.018 202.2);
  --popover: oklch(1 0 89.9);
  --popover-foreground: oklch(0.1574 0.018 202.2);
  --primary: oklch(0.6608 0.111 192.3);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.9256 0.007 197.5);
  --secondary-foreground: oklch(0.3132 0.017 197.2);
  --muted: oklch(0.9128 0.027 197);
  --muted-foreground: oklch(0.4123 0.024 196.8);
  --accent: oklch(0.8839 0.012 197.2);
  --accent-light: oklch(0.95 0.008 197);
  --accent-foreground: oklch(0.2687 0.019 197.1);
  --destructive: oklch(0.4794 0.168 28.6);
  --destructive-foreground: oklch(0.9913 0.003 100.4);
  --border: oklch(0.8514 0.015 198.1);
  --input: oklch(0.8514 0.015 198.1);
  --ring: oklch(0.6608 0.111 192.3);
  --radius: 0.625rem;
  --gray-50: oklch(0.98 0 0);
  --gray-100: oklch(0.95 0 0);
  --gray-200: oklch(0.9 0 0);
  --gray-300: oklch(0.85 0 0);
  --gray-400: oklch(0.7 0 0);
  --gray-500: oklch(0.55 0 0);
  --gray-600: oklch(0.45 0 0);
  --gray-700: oklch(0.35 0 0);
  --gray-800: oklch(0.25 0 0);
  --gray-900: oklch(0.15 0 0);
  --gray-950: oklch(0.1 0 0);
}

.dark {
  --background: oklch(0.1574 0.018 202.2);
  --foreground: oklch(0.85 0.004 198);
  --card: oklch(0.1574 0.018 202.2);
  --card-foreground: oklch(0.9857 0.004 198);
  --popover: oklch(0.1574 0.018 202.2);
  --popover-foreground: oklch(0.9857 0.004 198);
  --primary: oklch(0.6608 0.111 192.3);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2214 0.02 197.1);
  --secondary-foreground: oklch(0.7587 0.015 197.6);
  --muted: oklch(0.1967 0.026 196.8);
  --muted-foreground: oklch(0.7412 0.014 197.2);
  --accent: oklch(0.45 0.05 196.9);
  --accent-light: oklch(0.55 0.04 196.8);
  --accent-foreground: oklch(0.9114 0.013 197.1);
  --destructive: oklch(0.6214 0.175 29.2);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.45 0.02 197);
  --input: oklch(0.45 0.02 197);
  --ring: oklch(0.6608 0.111 192.3);
  --gray-50: oklch(0.2 0 0);
  --gray-100: oklch(0.3 0 0);
  --gray-200: oklch(0.4 0 0);
  --gray-300: oklch(0.5 0 0);
  --gray-400: oklch(0.6 0 0);
  --gray-500: oklch(0.7 0 0);
  --gray-600: oklch(0.8 0 0);
  --gray-700: oklch(0.85 0 0);
  --gray-800: oklch(0.9 0 0);
  --gray-900: oklch(0.95 0 0);
  --gray-950: oklch(0.98 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-950: var(--gray-950);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@utility scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility hidden {
  /* TailwindCSS 유틸리티 클래스와 커스텀 클래스와의 우선순위(Cascading) 문제 해결 => 가장 아래에 위치해야 함 */
  display: none;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0030-0039;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0030-0039;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0030-0039;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0030-0039;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/assets/fonts/NotoSansKR-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/assets/fonts/NotoSansKR-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/assets/fonts/NotoSansKR-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/assets/fonts/NotoSansKR-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+AC00-D7A3;
}

body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-500);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-600);
}
