@import 'tailwindcss' important;
@import 'tw-animate-css' important;

#pp-root {
  all: initial;
}

#pp-subtitle-container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: min(1.8vw, 3vh);
  text-shadow: black 2px 2px 2px;
  font-family: Pretendard;
}

#pp-loop-marker-container {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  pointer-events: none;
  display: none;
}
#pp-loop-marker-container.show {
  display: block;
}
#pp-loop-marker-container .loop-marker {
  position: absolute;
  cursor: pointer;
  pointer-events: all;
  width: 15px;
  height: 30px;
  opacity: 0.8;
  color: oklch(0.6608 0.111 192.3);
}
#pp-loop-marker-container .loop-marker:hover {
  opacity: 1;
  z-index: 1000;
}
#pp-loop-marker-container .loop-marker-text {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: 600;
  color: white;
}
#pp-loop-marker-container #loop-marker-start {
  left: 0%;
}
#pp-loop-marker-container #loop-marker-end {
  left: 10%;
}
