@import 'tailwindcss' important;
@import 'tw-animate-css' important;
@source not inline('static');

:root {
  --pp-primary: oklch(0.6608 0.111 192.3);
}

img {
  display: inline;
}

#pp-subtitle-container {
  text-align: center;
  font-size: min(1.8vw, 3vh);
  text-shadow: black 2px 2px 2px;
}

#pp-subtitle-container > p:hover {
  outline: 1px solid currentColor;
}
