<template id="toggle-template">
  <div
    data-role="toggle-button"
    class="w-10 h-6 flex items-center bg-gray-300 rounded-full p-1 cursor-pointer transition-colors duration-200"
  >
    <div
      data-role="indicator"
      class="bg-white w-4 h-4 rounded-full shadow-md transform transition-transform duration-200"
    ></div>
  </div>
</template>

<template id="color-picker-template">
  <button
    data-role="button"
    class="w-6 h-6 rounded-full focus:outline-none border border-gray-300 focus:border-gray-400 relative overflow-hidden"
    aria-label="Pick subtitle color"
  >
    <input
      data-role="color-picker"
      type="color"
      name="subtitle-color"
      value="#ffffff"
      class="absolute top-0 left-0 invisible w-6 h-6"
    />
  </button>
</template>

<template id="tooltip-template">
  <div
    data-role="tooltip"
    class="absolute bg-gray-800 text-white text-xs rounded py-1 px-2 whitespace-no-wrap hidden"
    role="tooltip"
  ></div>
</template>

<template id="checkbox-template">
  <div
    data-role="checkbox-box"
    class="cursor-pointer select-none w-6 h-6 border rounded flex justify-center items-center bg-gray-500"
  >
    <span data-role="checkbox-text" class="text-white font-bold">✖</span>
    <input data-role="checkbox-input" type="checkbox" class="hidden" />
  </div>
</template>

<template id="switch-template">
  <div data-role="switch-box" class="w-full h-7 select-none border rounded overflow-hidden">
    <div data-role="switch-options" class="flex items-center w-full h-full"></div>
    <input data-role="switch-input" type="hidden" />
  </div>
</template>
