@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0030-0039;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0030-0039;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0030-0039;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0030-0039;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./assets/fonts/NotoSansKR-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./assets/fonts/NotoSansKR-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./assets/fonts/NotoSansKR-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./assets/fonts/NotoSansKR-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+AC00-D7A3;
}

body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

.input {
  @apply px-2 py-1 border outline-none rounded w-full focus:border-teal-500;
}

.button {
  @apply px-2 py-1 text-white outline-none rounded text-nowrap disabled:opacity-30;
}

.label {
  @apply min-w-[100px] text-gray-800 text-nowrap;
}
